body,
html {
  padding: 0;
  margin: 0;
}

.contenedor {
  padding: 25px;
  background-color:snow;
  gap: 4px;
}


.img {
  width: 100%;
  border-end-start-radius: 10px;
  border-start-start-radius: 10px;
}

.card {
  border-end-start-radius: 10px;
  border-start-start-radius: 10px;
}

